{{yield}}
<div local-class="analyze-section">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <p local-class="title-section">
                {{data.name}}
                <div local-class="toggle-area">
                    <span local-class="clear" {{action 'clearNotes'}}><span class="glyphicon glyphicon-trash"></span></span>
                    {{!-- {{#if collapsed}}
                        <span class="glyphicon glyphicon-triangle-bottom"></span>
                    {{else}}
                        <span class="glyphicon glyphicon-triangle-top"></span>
                    {{/if}} --}}
                    {{#bs-button local-class="btn-toggle" active=notCollapsed onClick=(action "toggle")}}
    					{{#if collapsed}} <span class="glyphicon glyphicon-triangle-bottom"></span>
    					{{else}}<span class="glyphicon glyphicon-triangle-top"></span>
    					{{/if}}
    				{{/bs-button}}
                </div>
            </p>
            {{#bs-collapse local-class="content-container" collapsed=collapsed}}
                {{textarea rows=10 placeholder="hint" key-up=(action 'keyUp') value=data.notes maxlength=300 }}
            {{/bs-collapse}}
        </div>
    </div>
</div>
