<div local-class="action-plan-container">
	<div class="next-step">
		{{!-- {{#bs-button onClick=(action "nextStep")}} --}}
		{{#bs-button class="btn-next" onClick=(action "nextStep")}}
			下一步
		{{/bs-button}}
	</div>
	<div local-class="action-plan-radar">
		<select local-class="choose-area" onchange= {{action 'changeArea' value="target.value"}}>
		    {{#each region as |area|}}
		        <option  value={{area.id}}>{{area.name}}</option>
		    {{/each}}
		</select>
		{{radar-section-effectiveness  gradient="glowplan" radarSectionData=radarData changeArea=(action 'changeArea')}}
	</div>
	{{#each resortRegionModel as |region index|}}
		{{area-plan-info data=region index=index}}
	{{/each}}
</div>
{{!-- {{#bs-modal open=tipModal onHidden=(action (mut tipModal) false) as |modal|}}
	{{#modal.header}}
		<h4 class="modal-title">
            <span></span>{{tipsTitle}}
        </h4>
	{{/modal.header}}
	{{#modal.body}}
		{{content-bound-helper content}}
	{{/modal.body}}
	{{#modal.footer}}
	  {{#bs-button onClick=(action modal.close)}}继续填写{{/bs-button}}
	{{/modal.footer}}
{{/bs-modal}} --}}
{{#bs-modal open=tipsModal onSubmit=(action 'toUpshot') onHidden=(action (mut tipsModal) false) as |modal|}}
	{{#modal.header}}
		<h4 class="modal-title">
            <span></span>{{tipsTitle}}
        </h4>
	{{/modal.header}}
	{{#modal.body}}
		{{content-bound-helper tipsContent}}
	{{/modal.body}}
	{{#modal.footer}}
	{{#if isActionplanEmpty}}
		{{#bs-button onClick=(action modal.close)}}取消{{/bs-button}}
		{{#bs-button type="success" onClick=(action modal.submit)}}下一步{{/bs-button}}
	{{else}}
		{{#bs-button onClick=(action modal.close)}}继续填写{{/bs-button}}
	{{/if}}
	{{/modal.footer}}
{{/bs-modal}}
