<div local-class="action-plan-container">
	<div class="next-step">
		{{#bs-button class="btn-next" onClick=(action "nextStep")}}
			下一步
		{{/bs-button}}
	</div>
	<div local-class="action-plan-radar">
		<select local-class="choose-area" onchange= {{action 'changeArea' value="target.value"}}>
		    {{#each model as |area|}}
		        <option  value={{area.id}}>{{area.name}}</option>
		    {{/each}}
		</select>
		{{radar-section-effectiveness  gradient="glowplan" radarSectionData=radarData }}
	</div>
	{{#each resortRegionModel as |region index|}}
        {{area-plan-info data=region areaReps=areaReps regionCompanyTargets=regionCompanyTargets index=index}}

	{{/each}}
</div>

{{#bs-modal open=tipsModal onSubmit=(action 'toUpshot') onHidden=(action (mut tipsModal) false) as |modal|}}
	{{#modal.header}}
		<h4 class="modal-title">
            <span></span>{{tipsTitle}}
        </h4>
	{{/modal.header}}
	{{#modal.body}}
		{{content-bound-helper tipsContent}}
	{{/modal.body}}
	{{#modal.footer}}
	{{#if isActionplanEmpty}}
		{{#bs-button onClick=(action modal.close)}}取消{{/bs-button}}
		{{bs-button type="success" defaultText="下一步" pendingText="提交中。。。" resolvedText="提交成功，正在跳转" onClick=(action modal.submit)}}
	{{else}}
		{{#bs-button onClick=(action modal.close)}}继续填写{{/bs-button}}
	{{/if}}
	{{/modal.footer}}
{{/bs-modal}}
