<div local-class="content-page">
    <div local-class="content">
        <div local-class="head">
            <img src="" alt="">
            <p>用户注册</p>
        </div>
        <div local-class="input-area">
            {{#bs-form model=this.model novalidate=true  as |form|}}
              <a href="#" local-class="code">发送验证码</a>
              {{form.element controlType="email" label="邮箱" placeholder="邮箱" property="email" required=true local-class="email"}}
              {{form.element controlType="string" label="邮箱验证码" placeholder="" property="password" required=true}}
              {{form.element controlType="password" label="登入密码" placeholder="8-20位字母和数字组合" property="password" required=true}}
              {{form.element controlType="password" label="确认密码" placeholder="8-20位字母和数字组合" property="password" required=true}}
              <div local-class="clicks">
                  {{#link-to 'perfect-info'}}
                    {{bs-button defaultText="确定注册" type="primary" buttonType="submit"}}
                  {{/link-to}}
                  <div local-class="log">
                      已有帐号？
                      {{#link-to 'index'}}
                            点击登录
                      {{/link-to}}
                  </div>
             </div>
            {{/bs-form}}
        </div>
    </div>
</div>
{{outlet}}
