{{!-- {{yield}} --}}
<div id={{chartId}} local-class="objective-bar-line">
<select local-class="choose-area" onchange= {{action 'changeArea' value="target.value"}}>
    {{#each totalArea as |area|}}
        <option  value={{area.value}}>{{area.name}}</option>
    {{/each}}
</select>
</div>
