<div class="container">
	<nav local-class='navigation'>
		{{#bs-nav type="tabs" justified=true as |nav|}}
			{{#nav.item}}
				{{#nav.link-to "new-project.project-start.index.analyze" disabled=(if history false true )}}{{t "apm.newProject.wholeAnalysis"}}{{/nav.link-to}}
			{{/nav.item}}
			{{#nav.item}}
				{{#nav.link-to "new-project.project-start.index.sort" disabled=(if history false true)}}{{t "apm.newProject.sort"}}{{/nav.link-to}}
			{{/nav.item}}
			{{#nav.item}}
				{{#nav.link-to "new-project.project-start.index.objective" disabled=(if history false true)}}{{t "apm.newProject.targetSet"}}{{/nav.link-to}}
			{{/nav.item}}
			{{#nav.item}}
				{{#nav.link-to "new-project.project-start.index.resource" disabled=(if history false true)}}{{t "apm.newProject.res"}}{{/nav.link-to}}
			{{/nav.item}}
			{{#nav.item}}
				{{#nav.link-to "new-project.project-start.index.action-plan" disabled=(if history false true)}}{{t "apm.newProject.actionPlan"}}{{/nav.link-to}}
			{{/nav.item}}
			{{#nav.item}}
				{{#nav.link-to "new-project.project-start.index.upshot" disabled=(if history false true)}}{{t "apm.newProject.result"}}{{/nav.link-to}}
			{{/nav.item}}
		{{/bs-nav}}
	</nav>
	{{outlet}}
</div>