<div local-class="action-plan-section">
	<div class="row">
		<div class="col-md-12 col-lg-12 col-sm-12">
			<p local-class="title-section"><span {{action 'openTips' data}}>{{data.name}}<span class="glyphicon glyphicon-list-alt" ></span></span>
				{{#bs-button local-class="btn-toggle" active=notCollapsed onClick=(action "toggle")}}
					{{#if collapsed}} <span class="glyphicon glyphicon-triangle-bottom"></span>
					{{else}}<span class="glyphicon glyphicon-triangle-top"></span>
					{{/if}}
				{{/bs-button}}
			</p>

			{{#bs-collapse local-class="content-container" collapsed=collapsed}}
                {{#each areaReps as |item|}}
                    {{#if (eq item.region_id data.id)}}
                        {{area-order-rep data=data represents=item.data index=index}}
                    {{/if}}
                {{/each}}
                {{#each regionCompanyTargets as |item|}}
                    {{#if (eq item.region_id data.id)}}
                        {{area-table data=data areaComponyTarget=item.company_targe}}
                    {{/if}}
                {{/each}}
                {{area-choose-plan data=data history=history}}
			{{/bs-collapse}}
		</div>
	</div>
</div>
{{#bs-modal open=tipModal onHidden=(action (mut tipModal) false) as |modal|}}
	{{#modal.header}}
		<h4 class="modal-title">
            <span></span>{{tipsTitle}}
        </h4>
	{{/modal.header}}
	{{#modal.body}}
		{{content-bound-helper content}}
	{{/modal.body}}
	{{#modal.footer}}
	  {{#bs-button onClick=(action modal.close)}}继续填写{{/bs-button}}
	{{/modal.footer}}
{{/bs-modal}}
