{{yield}}
<div local-class="action-plan-section">
	<div class="row">
		<div class="col-md-12 col-lg-12 col-sm-12">
			<p local-class="title-section"><span>区域A名称<span class="glyphicon glyphicon-list-alt"></span></span>
				{{#bs-button local-class="btn-toggle" active=notCollapsed onClick=(action "toggle")}}
					{{#if collapsed}} <span class="glyphicon glyphicon-triangle-bottom"></span>
					{{else}}<span class="glyphicon glyphicon-triangle-top"></span>
					{{/if}}
				{{/bs-button}}
			</p>

			{{#bs-collapse local-class="content-container" collapsed=collapsed}}
				{{area-order-rep}}
				{{area-table}}
                {{area-choose-plan}}
			{{/bs-collapse}}
		</div>
	</div>
</div>
