<div local-class="objective-container">
	<div class="next-step">
		{{#bs-button class="btn-next" onClick=(action "nextStep")}}
			下一步
		{{/bs-button}}
	</div>
	<div local-class="objective-section">
		<div class="row">
			<div class="col-md-12 col-lg-12 col-sm-12">
				<select local-class="choose-area" onchange= {{action 'changeArea' value="target.value"}}>
				    {{#each regionData as |area index|}}
				        <option value={{area.id}}>{{area.name}}</option>
				    {{/each}}
				</select>
                {{d3-bar-line chartId="objective-chart" laterThreeChangeBg=true dataset=barData }}
			</div>
		</div>
	</div>

	<div local-class="objective-section">
		<div class="row">
			<div class="col-md-12 col-lg-12 col-sm-12">
				<p local-class="title-objective">设定目标<span>-为接下来三个月，各区域预测您期望达成目标，基于总体分析中您的分析，并参考公司指标，区域背景信息，竞争情况，做出您的目标设定。</span></p>
				<div class="row" local-class="summary">
					<div class="col-md-2 col-lg-2 col-sm-2">
						<p>公司本季度总指标</p>
						<p>{{totalCompanyTarget}}</p>
					</div>
					<div class="col-md-2 col-lg-2 col-sm-2">
						<p>您的预测总指标</p>
						<p>{{totalForecast}}</p>
					</div>

				</div>
				<div class="table-responsive">
					<table local-class="table-container" class="table">
						<thead>
							<tr>
								<td>排序</td>
								<td>区域</td>
								<td>公司指标($)</td>
								<td>预测指标($)</td>
							</tr>
						</thead>
						<tbody>
							{{#each newRegionData as |region index|}}
								<tr>
									<td>{{index-to-normal index}}</td>
									<td><span {{action 'openTips' region}}>{{region.name}} <span class="glyphicon glyphicon-list-alt" ></span></span></td>
                                    {{#each regionCompanyTargets as |item|}}
                                        {{#if (eq region.id item.region_id)}}
                                            <td>{{item.company_targe}}</td>
                                        {{/if}}
                                    {{/each}}
									<td>{{input type="text" value=region.forecast dir="rtl"}} </td>
								</tr>
							{{/each}}
						</tbody>
					</table>
				</div>

			</div>

		</div>
	</div>
</div>

{{#bs-modal open=tipsModal onSubmit=(action 'toResource') onHidden=(action (mut tipsModal) false) as |modal|}}
  {{#modal.header}}
    <h4 class="modal-title">
      <span></span>{{tipsTitle}}
    </h4>
  {{/modal.header}}
  {{#modal.body}}
	{{!-- <p>请填写完成 {{emptyNotesRegion}} 的内容！</p> --}}
	<p>{{content-bound-helper tipsContent}}</p>

  {{/modal.body}}
  {{#modal.footer}}
	  {{#if isForecastEmpty}}
		  {{#bs-button onClick=(action modal.close)}}取消{{/bs-button}}
		  {{#bs-button type="success" onClick=(action modal.submit)}}下一步{{/bs-button}}
	  {{else}}
		  {{#bs-button onClick=(action modal.close)}}继续填写{{/bs-button}}
	  {{/if}}
  {{/modal.footer}}
{{/bs-modal}}
