<div local-class="content-page">
	{{scene-tab changeTab=(action 'changeTab') isFinish=isUpshotFinish}}
	<section local-class={{if (eq introduced.isSelectedName 'showScenario') 'introduced show' 'introduced'}}>
		{{scene-intro-card data=ScenarioModel close=(action 'close')}}
	</section>
	<section local-class={{if (eq introduced.isSelectedName 'showProduct') 'introduced show' 'introduced'}}>
		{{product-info-card data=ProductModel close=(action 'close')}}
	</section>
	<section local-class={{if (eq introduced.isSelectedName 'showArea') 'introduced show' 'introduced'}}>
		{{regional-info-card data=AreaModel close=(action 'close') changeRegion=(action 'changeRegion')}}
	</section>
	<section class={{if (not-eq introduced.isSelectedName '') 'display-none' ''}} local-class="content">
		{{outlet}}
	</section>
</div>