<div local-class="content-page">
	{{!-- {{#if isUpshotFinish}}
		{{scene-tab changeTab=(action 'changeTab') isFinish=true}}
	{{else}}
		{{scene-tab changeTab=(action 'changeTab') isFinish=false}}
	{{/if}} --}}
	{{scene-tab changeTab=(action 'changeTab') isFinish=isUpshotFinish}}
	<div local-class={{if (eq introduced.isSelectedName 'showScenario') 'introduced show' 'introduced'}}>
		{{scene-intro-card data=ScenarioModel close=(action 'close')}}
	</div>
	<div local-class={{if (eq introduced.isSelectedName 'showProduct') 'introduced show' 'introduced'}}>
		{{product-info-card data=ProductModel close=(action 'close')}}
	</div>
	<div local-class={{if (eq introduced.isSelectedName 'showArea') 'introduced show' 'introduced'}}>
		{{regional-info-card data=AreaModel close=(action 'close') changeRegion=(action 'changeRegion')}}
	</div>
	<div class={{if (not-eq introduced.isSelectedName '') 'display-none' ''}} local-class="content">
		{{outlet}}
	</div>
</div>