<section local-class="history-container">
	{{#bs-tab customTabs=true local-class="project-container" as |tab|}}
		{{#bs-nav local-class="project-nav" type="tabs" as |nav|}}
			<section class="container">
				<p local-class="title">{{#link-to 'project-sort'}}<span class="glyphicon glyphicon-triangle-left"></span>{{t "apm.hisProject.hisPlan"}}{{/link-to}}</p>
				<div local-class="content">
					{{#nav.item active=(bs-eq tab.activeId "doingproject")}}
						<a href="#pane1" class="nav-link" role="tab" {{action tab.select "doingproject"}}>{{t "apm.hisProject.ongoing"}}<span
							 class="badge">{{badge}}</span></a>
					{{/nav.item}}
					{{#nav.item active=(bs-eq tab.activeId "doneproject")}}
						<a href="#pane1" class="nav-link" role="tab" {{action tab.select "doneproject"}}>{{t "apm.hisProject.done"}}</a>
					{{/nav.item}}
				</div>
			</section>
		{{/bs-nav}}
		<div class="tab-content" local-class="project-content">
			{{#tab.pane class="container" elementId="doingproject" title=(t "apm.hisProject.ongoing")}}
				{{#each model.doing as |item|}}
					{{his-class-card data=item lookOver=(action 'lookOver')}}
				{{else}}
					<h3>{{t "apm.hisProject.doingClass"}}</h3>
				{{/each}}
			{{/tab.pane}}
			{{#tab.pane class="container" elementId="doneproject" title=(t "apm.hisProject.done")}}
				{{#each model.done as |item|}}
					{{his-class-card data=item continue=(action 'continue')}}
				{{else}}
					<h3>{{t "apm.hisProject.noDoneClass"}}</h3>
				{{/each}}
			{{/tab.pane}}
		</div>
	{{/bs-tab}}
</section>