<div local-class="center">
	<div local-class="content-page" class="container">
		<div local-class="head">
			<p local-class="title">
				{{#link-to 'project-sort'}}<span class="glyphicon glyphicon-triangle-left"></span>Historical plan{{/link-to}}
			</p>
		</div>
		<div>
            {{log model}}
			<p local-class="headline"><span local-class="point-span"></span><span>进行中</span></p>
			{{#each model as |item|}}
				{{#if item.state}}
					{{his-class-card data=item lookOver=(action 'lookOver')}}
				{{/if}}
				{{else}}
					<h3>暂无正在进行中的课程。</h3>
			{{/each}}
		</div>
		<div>
			<p local-class="headline"><span local-class="point-span"></span><span>已完成</span></p>
			{{#each model as |item|}}
				{{#unless item.state}}
					{{his-class-card data=item continue=(action 'continue')}}
				{{/unless}}
				{{else}}
					<h3>暂无已完成课程。</h3>
			{{/each}}
		</div>
	</div>
</div>
{{outlet}}
