<div local-class="center">
    <div local-class="content-page" class="container">
        <div local-class="head">
            <p local-class="title">{{#link-to 'project-sort'}}<span class="glyphicon glyphicon-triangle-left"></span>{{t "apm.historyProject.hisPlan"}}{{/link-to}}</p>
        </div>
        <div>
            <p local-class="headline"><span local-class="point-span"></span><span>{{t "apm.historyProject.ongoing"}}</span></p>
            {{#each model as |item|}}
                {{#if item.state}}
                    {{his-class-card data=item lookOver=(action 'lookOver')}}
                {{/if}}
            {{/each}}
        </div>
        <div>
            <p local-class="headline"><span local-class="point-span"></span><span>{{t "apm.historyProject.done"}}</span></p>
             {{#each model as |item|}}
                {{#unless item.state}}
                    {{his-class-card data=item continue=(action 'continue')}} 
                {{/unless}}
            {{/each}}
        </div>
    </div>
</div>
{{outlet}}
