<div local-class="center">
    <div local-class="content-page">
        <div local-class="head">
            <img src="" alt="">
            <p local-class="title">Historical plan</p>
        </div>
        <div local-class="list">
            <p local-class="headline">进行中</p>
            <div local-class="card">
                {{his-class-card}}
            </div>
        </div>
        <div local-class="list">
            <p local-class="headline">已完成</p>
            <div local-class="card">
                {{his-class-card}}
                {{his-class-card}}
                {{his-class-card}}
            </div>
        </div>
    </div>
</div>

{{outlet}}
