<div local-class="resource-container">
	{{#unless history}}
		<div class="next-step">
			{{#bs-button class="btn-next" onClick=(action "nextStep")}}
				{{t "apm.newProject.next"}}
			{{/bs-button}}
		</div>
	{{/unless}}
	<div class="row">
		<div class="col-md-12 col-lg-12 col-sm-12">
			<div local-class="resource-content">
				<p local-class="title-resource"><span>{{t "apm.newProject.resource.title"}}</span><span> -{{t "apm.newProject.resource.subtitle"}}</span></p>
				<div local-class="card-item-container" class="container">
					<div local-class="card-item" class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
						<p local-class="title-card-item"><span>{{t "apm.newProject.resource.coachCoVisitDays"}}</span><span>{{t "apm.newProject.resource.total"}}
								{{allotData.field_work_days}} {{t "apm.newProject.resource.days"}}</span></p>
						{{#bs-progress local-class="progress" as |p|}}
							{{!-- {{p.bar local-class="progress-bar" showLabel=true value=coVisit maxValue=100 type='info' }} --}}
							{{p.bar local-class=(if coVisit.overHundred 'progress-bar-danger' 'progress-bar') showLabel=(if coVisit.overHundred false true) value=coVisit.value maxValue=(if coVisit.overHundred coVisit.value 100) type='info' }}
						{{/bs-progress}}
					</div>
					<div local-class="card-item" class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
						<p local-class="title-card-item"><span>{{t "apm.newProject.resource.countryQuota"}}</span><span>{{t "apm.newProject.resource.total"}}
								{{allotData.national_meeting}} {{t "apm.newProject.resource.one"}}</span></p>
						{{#bs-progress local-class="progress" as |p|}}
							{{!-- {{p.bar local-class="progress-bar" showLabel=true value=nationMeeting maxValue=100 type='info' }} --}}
							{{p.bar local-class=(if nationMeeting.overHundred 'progress-bar-danger' 'progress-bar') showLabel=(if nationMeeting.overHundred false true) value=nationMeeting.value maxValue=(if nationMeeting.overHundred nationMeeting.value 100) type='info' }}
						{{/bs-progress}}
					</div>
					<div local-class="card-item" class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
						<p local-class="title-card-item"><span>{{t "apm.newProject.resource.cityQuota"}}</span><span>{{t "apm.newProject.resource.total"}}
								{{allotData.city_meeting}} {{t "apm.newProject.resource.one"}}</span></p>
						{{#bs-progress local-class="progress" as |p|}}
							{{!-- {{p.bar local-class="progress-bar" showLabel=true value=cityMeeting maxValue=100 type='info' }} --}}
							{{p.bar local-class=(if cityMeeting.overHundred 'progress-bar-danger' 'progress-bar') showLabel=(if cityMeeting.overHundred false true) value=cityMeeting.value maxValue=(if cityMeeting.overHundred cityMeeting.value 100) type='info' }}
						{{/bs-progress}}
					</div>
					<div local-class="card-item" class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
						<p local-class="title-card-item"><span>{{t "apm.newProject.resource.departmentQuota"}}</span><span>{{t "apm.newProject.resource.total"}}
								{{allotData.depart_meeting}} {{t "apm.newProject.resource.one"}}</span></p>
						{{#bs-progress local-class="progress" as |p|}}
							{{p.bar local-class=(if departmentMeeting.overHundred 'progress-bar-danger' 'progress-bar') showLabel=(if departmentMeeting.overHundred false true) value=departmentMeeting.value maxValue=(if departmentMeeting.overHundred departmentMeeting.value 100) type='info' }}
						{{/bs-progress}}
					</div>
				</div>
				<div class="table-responsive">
					<table local-class="table-container" class="table">
						<thead>
							<tr>
								<td>{{t "apm.newProject.resource.sort"}}</td>
								<td>{{t "apm.newProject.resource.area"}}</td>
								<td>{{t "apm.newProject.resource.corporateIndicators"}}($)</td>
								<td>{{t "apm.newProject.resource.forecastIndex"}}($)</td>
								<td>{{t "apm.newProject.resource.coVisitDays"}}(%)</td>
								<td>{{t "apm.newProject.resource.country"}}(%)</td>
								<td>{{t "apm.newProject.resource.city"}}(%)</td>
								<td>{{t "apm.newProject.resource.department"}}(%)</td>
							</tr>
						</thead>
						<tbody>
							{{#each newRegionData as |region index|}}
								<tr>
									<td>{{index-to-normal index}} </td>
									<td>
										<span {{action 'openTips' region}}>
											{{region.name}}
											<img src="/assets/images/note.png" width="16px" height="20px" alt="note">
										</span>
									</td>
									<td>
										{{#each model as |item|}}
											{{#if (eq item.region_id region.id)}}
												{{number-format item.company_targe}}
											{{/if}}
										{{/each}}
									</td>
									<td>{{number-format region.forecast}}</td>
									<td>{{input type="text" key-up=(action 'saveToLocalStorage') value=region.covisit dir="ltr" disabled=(if history true false)}}
									</td>
									<td>{{input type="text" key-up=(action 'saveToLocalStorage') value=region.nationMeeting dir="ltr" disabled=(if history true false)}}
									</td>
									<td>{{input type="text" key-up=(action 'saveToLocalStorage') value=region.cityMeeting dir="ltr" disabled=(if history true false)}}
									</td>
									<td>{{input type="text" key-up=(action 'saveToLocalStorage') value=region.departmentMeeting dir="ltr" disabled=(if history true false)}}
									</td>
								</tr>
							{{/each}}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{{hint-modal hint=hint confirm=(action 'toActionPlan')}}