<div local-class="resource-container">
	<div class="next-step">
		{{#bs-button class="btn-next" onClick=(action "nextStep")}}
			下一步
		{{/bs-button}}
	</div>
	<div class="row">
		<div class="col-md-12 col-lg-12 col-sm-12">
			<div local-class="resource-content">
				<p local-class="title-resource">资源分配<span> -在资源有限的情况下，做出合适的投入计划，以达到目标。</span></p>

				<div local-class="card-item-container" class="container">
					<div local-class="card-item" class="col-lg-3 col-md-3 col-sm-3">
						<p local-class="title-card-item"><span>辅导协访天数</span><span>共{{allotData.field_work_days}}天</span></p>
						{{#bs-progress local-class="progress" as |p|}}
							{{p.bar local-class="progress-bar" showLabel=true value=coVisit maxValue=100 type='info' }}
						{{/bs-progress}}
					</div>
					<div local-class="card-item" class="col-lg-3 col-md-3 col-sm-3">
						<p local-class="title-card-item"><span>全国会名额</span><span>共{{allotData.national_meeting}}个</span></p>
						{{#bs-progress local-class="progress" as |p|}}
							{{p.bar local-class="progress-bar" showLabel=true value=nationMeeting maxValue=100 type='info' }}
						{{/bs-progress}}
					</div>
					<div local-class="card-item" class="col-lg-3 col-md-3 col-sm-3">
						<p local-class="title-card-item"><span>城市会名额</span><span>共{{allotData.city_meeting}}个</span></p>
						{{#bs-progress local-class="progress" as |p|}}
							{{p.bar local-class="progress-bar" showLabel=true value=cityMeeting maxValue=100 type='info' }}
						{{/bs-progress}}
					</div>
					<div local-class="card-item" class="col-lg-3 col-md-3 col-sm-3">
						<p local-class="title-card-item"><span>科室会名额</span><span>共{{allotData.depart_meeting}}个</span></p>
						{{#bs-progress local-class="progress" as |p|}}
							{{p.bar local-class="progress-bar" showLabel=true value=departmentMeeting maxValue=100 type='info' }}
						{{/bs-progress}}
					</div>
				</div>
				<div class="table-responsive">
					<table local-class="table-container" class="table">
						<thead>
							<tr>
								<td>排序</td>
								<td>区域</td>
								<td>公司指标($)</td>
								<td>预测指标($)</td>
								<td>协访天数(%)</td>
								<td>全国会(%)</td>
								<td>城市会(%)</td>
								<td>科室会(%)</td>
							</tr>
						</thead>
						<tbody>
                            {{log model}}
							{{#each newRegionData as |region index|}}
                                
								<tr>
									<td>{{index-to-normal index}} </td>
									<td><span {{action 'openTips' region}}>{{region.name}}<span class="glyphicon glyphicon-list-alt"></span></span>
									</td>
									<td>
                                        {{#each model as |item|}}
                                            {{#if (eq item.region_id region.id)}}
                                                {{item.company_targe}}
                                            {{/if}}
                                        {{/each}}
                                    </td>
									<td>{{region.forecast}}</td>
									<td>{{input type="text" key-up=(action 'saveToLocalStorage') value=region.covisit dir="rtl"}} </td>
									<td>{{input type="text" key-up=(action 'saveToLocalStorage') value=region.nationMeeting dir="rtl"}} </td>
									<td>{{input type="text" key-up=(action 'saveToLocalStorage') value=region.cityMeeting dir="rtl"}} </td>
									<td>{{input type="text" key-up=(action 'saveToLocalStorage') value=region.departmentMeeting dir="rtl"}} </td>
								</tr>
							{{/each}}
						</tbody>
					</table>
				</div>

			</div>
		</div>
	</div>
</div>
{{#bs-modal open=tipsModal onSubmit=(action 'toActionPlan') onHidden=(action (mut tipsModal) false) as |modal|}}
	{{#modal.header}}
		<h4 class="modal-title">
            <span></span>{{tipsTitle}}
        </h4>
	{{/modal.header}}
	{{#modal.body}}
		{{content-bound-helper tipsContent}}
	{{/modal.body}}
	{{#modal.footer}}
		{{#if iscoVisitEmpty}}
			{{#bs-button onClick=(action modal.close)}}取消{{/bs-button}}
			{{#bs-button type="success" onClick=(action modal.submit)}}下一步{{/bs-button}}
		{{else}}
			{{#bs-button onClick=(action modal.close)}}继续填写{{/bs-button}}
		{{/if}}
	{{/modal.footer}}
{{/bs-modal}}
