{{!-- <div local-class="content-page">
	<div local-class="content">
		<div local-class="head">
			<img src="" alt="">
			<p>{{t "apm.sign.userSignUp"}}</p>
		</div>
		<div local-class="input-area">
			<div local-class="userinfo">
				<label local-class="title">{{t "apm.sign.name"}}</label>
                {{input id="userename" type="text" value=userName label="email" placeholder=(t "apm.sign.inputName") required=true local-class="name"}}
				<p local-class= {{if nameHint.status 'hint' 'wrongText'}}>{{nameHint.text}}</p>
			</div>
			<div local-class="userinfo">
				<label local-class="title" for="useremail">{{t "apm.sign.mail"}}</label>
                {{input id="useremail" type="email" value=userEmail placeholder=(t "apm.sign.inputMail") required=true local-class="email"}}
				<p local-class= {{if emailHint.status 'hint' 'wrongText'}}>{{emailHint.text}}</p>
			</div>
			<div local-class="userinfo">
				<label local-class="title">{{t "apm.sign.password"}}</label>
                {{input id="userpassword" type="password" value=userPassword placeholder=(t "apm.sign.inputPassword") required=true local-class="password"}}
				<p local-class= {{if pwHint.status 'hint' 'wrongText'}}>{{pwHint.text}}</p>
			</div>
			<div local-class="clicks">
				{{#bs-button type="primary" onClick=(action "submit")}}{{t "apm.sign.confirmSignUp"}}{{/bs-button}}
				<div local-class="log">
					{{t "apm.sign.hadAccount"}}
					{{#link-to 'index'}}
						{{t "apm.sign.clickLogin"}}
					{{/link-to}}
				</div>
			</div>
		</div>
	</div>
</div> --}}
{{hint-modal hint=hint confirm=(action 'toLogin')}} {{outlet}}
	<div local-class="content-page">
		<div local-class="content">
			<div local-class="step-by-step">
				{{!-- <div local-class="step"> --}}
				<div local-class='step on'>
					<p> <span>1</span> </p>
					<p>用户注册</p>
				</div>
				<div local-class= {{if stepFlow.second 'step on' 'step'}}>
					<p> <span>2</span> </p>
					<p>完善基础信息</p>
				</div>
				<div local-class= {{if stepFlow.last 'step on' 'step'}}>
					<p> <span>3</span> </p>
					<p>注册成功</p>
				</div>
			</div>
			{{#if (eq whichStep 0)}}
				<div local-class="input-area">
					{{!-- <div local-class="userinfo">
						<label local-class="title">{{t "apm.sign.name"}}</label> {{input id="userename" type="text" value=userName label="email" placeholder=(t "apm.sign.inputName") required=true local-class="name"}}
						<p local-class= {{if nameHint.status 'hint' 'wrongText'}}>{{nameHint.text}}</p>
					</div> --}}
					<div local-class="userinfo">
						<label local-class="title" for="useremail">{{t "apm.sign.mail"}}</label>
						{{input id="useremail" name="user-email" type="email" value=userEmail placeholder=(t "apm.sign.inputMail") required=true local-class="email"}}
						<p local-class= {{if emailHint.status 'hint' 'wrongText'}}>{{emailHint.text}}</p>
					</div>
					<div local-class="userinfo">
						<label local-class="title" for="userpassword">{{t "apm.sign.password"}}</label>
						{{input id="userpassword" type="password" value=userPassword placeholder=(t "apm.sign.inputPassword") required=true local-class="password"}}
						<p local-class= {{if pwHint.status 'hint' 'wrongText'}}>{{pwHint.text}}</p>
					</div>
					<div local-class="userinfo">
						<label local-class="title" for="confirmpassword">{{t "apm.sign.confirmpassword"}}</label>
						{{input id="confirmpassword" type="password" value=confirmPassword placeholder=(t "apm.sign.inputPassword") required=true local-class="password"}}
						<p local-class= {{if cpwHint.status 'hint' 'wrongText'}}>{{cpwHint.text}}</p>
					</div>
					<div local-class="clicks">
						{{#bs-button type="primary" onClick=(action "nextStep")}}
							{{t "apm.sign.nextStep"}}
						{{/bs-button}}
						<div local-class="log">
							{{t "apm.sign.hadAccount"}}
							{{#link-to 'index'}}
								{{t "apm.sign.clickLogin"}}
							{{/link-to}}
						</div>
					</div>
				</div>
				{{else if (eq whichStep 1)}}
				<div local-class="input-area">
					<div local-class="userinfo">
						<label local-class="title" for="userename">{{t "apm.sign.name"}}</label>
                        {{input id="userename" type="text" value=userName placeholder=(t "apm.sign.inputName") required=true local-class="name"}}
						<p local-class= {{if nameHint.status 'hint' 'wrongText'}}>{{nameHint.text}}</p>
					</div>
					<div local-class="userinfo">
						<label local-class="title" for="userphone">{{t "apm.sign.mobile"}}</label>
                        {{input id="userphone" type="text" value=userPhone placeholder=(t "apm.sign.inputPhone") required=true local-class="email"}}
						<p local-class= {{if phoneHint.status 'hint' 'wrongText'}}>{{phoneHint.text}}</p>
					</div>
					<div local-class="userinfo">
						<label local-class="title" for="companyName">{{t "apm.sign.corpName"}}</label>
                        {{input id="companyName" type="text" value=userCompanyName placeholder=(t "apm.sign.inputCompany") required=true local-class="phone"}}
						<p local-class= {{if cNameHint.status 'hint' 'wrongText'}}>{{cNameHint.text}}</p>
					</div>
					<div local-class="userinfo">
						<label local-class="title" for="position">{{t "apm.sign.position"}}</label>
                        {{input id="position" type="text" value=userPosition placeholder=(t "apm.sign.inputPosition") required=true local-class="phone"}}
						<p local-class= {{if positionHint.status 'hint' 'wrongText'}}>{{positionHint.text}}</p>
					</div>
					<div local-class="clicks">
						{{#bs-button type="primary" onClick=(action "submit")}}
							{{t "apm.sign.confirmSignUp"}}
						{{/bs-button}}
						<div local-class="log">
							{{t "apm.sign.hadAccount"}}
							{{#link-to 'index'}}
								{{t "apm.sign.clickLogin"}}
							{{/link-to}}
						</div>
					</div>
				</div>
			{{else}}
				<div local-class="input-area success">
					<p> <img src="assets/images/success.png" alt=""><span>注册成功</span></p>
					{{#bs-button type="primary"  onClick=(action "toLogin")}}
						{{t "apm.sign.toLogin"}}
					{{/bs-button}}
				</div>
			{{/if}}

		</div>
	</div>
