<div local-class="reginonal-info-container" class="container">
	{{#unless data}}
		{{svg-loading}}
		{{else}}
			<button type="button" class="close" local-class="turn" {{action "close"}}>
				<span local-class="clos" aria-hidden="true" >&times;</span>
			</button>

			{{!-- {{#bs-tab local-class="reginonal-info-content" as |tab|}}
				{{#tab.pane local-class="section-total" title="整体" }}
					{{d3-line-multi-legend chooseData=data.overall.lineData title="各区域份额结果" class="pre-area-share" }}
						<div local-class="analyze-section">
							{{area-base-info-table data=data.overall.tableData}}
						</div>
				{{/tab.pane}}
				{{#each data.info as |item|}}
					{{#tab.pane title=item.name elementId=item.id }}
						{{regional-intro data=item regionCards=data.cards radarData=data.radarData represents=data.represents kpi=data.kpi reports=data.reports salesBar=data.salesBar}}
					{{/tab.pane}}
				{{/each}}
			{{/bs-tab}} --}}

			{{#bs-tab local-class="reginonal-info-content" customTabs=true as |tab|}}
				{{#bs-nav type="tabs" as |nav|}}
					{{#nav.item active=(bs-eq tab.activeId "all")}}
						<a href="#all" class="nav-link" role="tab" {{action 'changeRegion' tab "all"}}>整体<span class="badge">{{badge}}</span></a>
					{{/nav.item}}
					{{#each data.info as |item|}}
						{{#nav.item active=(bs-eq tab.activeId item.id)}}
							<a href="#all" class="nav-link" role="tab" {{action 'changeRegion' tab item.id}}>{{item.name}}</a>
						{{/nav.item}}
						{{/each}}
					{{/bs-nav}}

				<div class="tab-content">
					{{#tab.pane local-class="section-total" elementId="all" title="整体" }}
						{{d3-line-multi-legend chooseData=data.overall.lineData title="各区域份额结果" class="pre-area-share" }}
						<div local-class="analyze-section">
							{{area-base-info-table data=data.overall.tableData}}
						</div>
					{{/tab.pane}}
					{{#each data.info as |item|}}
						{{#tab.pane title=item.name elementId=item.id }}
							{{!-- {{regional-intro data=item regionCards=data.cards radarData=data.radarData represent=represent kpi=data.kpi reports=data.reports salesBar=data.salesBar}} --}}
							{{regional-intro data=item regionCards=data.cards radarData=radarData represent=represent kpiData=kpiData report=report salesBar=salesBar}}

						{{/tab.pane}}
					{{/each}}
				</div>
			{{/bs-tab}}
	{{/unless}}
</div>
