<p local-class="choose-plan">
	<span>{{t "apm.component.areaChoosePlan.title"}}-</span>
	<span local-class='sub-desc'>{{t "apm.component.areaChoosePlan.subTitle"}}</span>
	{{#unless history}}
		{{#bs-button local-class="checkbox-choose-plan" onClick=(action (mut chooseModal) true)}}{{t "apm.component.areaChoosePlan.choosePlan"}}{{/bs-button}}
	{{/unless}}
</p>
<p local-class="show-plan">
	{{#each planPaireComputed as |plan|}}
		{{#if plan.isChecked}}
			<span>{{plan.text}}</span>
		{{/if}}
	{{/each}}
</p>
{{#bs-modal local-class="hint-modal" open=chooseModal  onHidden=(action (mut chooseModal) false) as |modal|}}
	{{#modal.header}}
		<h4 class="modal-title">
			<span></span>{{t "apm.component.areaChoosePlan.choosePlan2"}}
			<span local-class="title-color">{{t "apm.component.areaChoosePlan.choosePlan3"}}</span>
		</h4>
	{{/modal.header}}
	{{#modal.body}}
		{{#each planPaireComputed as |choose|}}
			<label local-class="data-checkbox" for="{{item.text}}">
				{{input type="checkbox" name=choose.text checked=choose.isChecked}}
				<span local-class="checkbox-span"></span>{{choose.text}}
			</label>
		{{/each}}
	{{/modal.body}}
	{{#modal.footer}}
		{{#bs-button type="success" onClick=(action modal.close)}}{{t "apm.component.areaChoosePlan.confirm"}}{{/bs-button}}
	{{/modal.footer}}
{{/bs-modal}}