<div local-class="sort-container">
    {{#unless history}}
        <div class="next-step">
            {{#bs-button class="btn-next" onClick=(action "nextStep")}}
                {{!-- 下一步 --}}
				{{t "apm.newProject.next"}}
            {{/bs-button}}
        </div>
    {{/unless}}

	<div local-class="sort-conent">
		<div class="row">
			<div class="col-md-12 col-lg-12 col-sm-12">
				<p local-class="title-sort"><span>{{t "apm.newProject.sortPage.title"}}-</span><span> {{t "apm.newProject.sortPage.subtutle"}}</span></p>
				<div class="row" local-class="tips-sort">
					<div class="col-md-6 col-lg-6 col-sm-6"></div>
					<div class="col-md-6 col-lg-6 col-sm-6">
						<p class="text-center">{{t "apm.newProject.sortPage.pleaseSort"}}</p>
					</div>
				</div>
				{{sort-drag-drop areaArray=model represents=represents history=history}}
			</div>
		</div>
	</div>
</div>


{{hint-modal hint=hint confirm=(action 'toObjective')}}
