<div local-class="content">
    <div local-class="head">
        <p local-class="title">区域计划培训课</p>
        {{#if data.state}}
            <p local-class="date">日期：{{data.start_time}}</p>
        {{else}}
            <p local-class="date">日期：{{data.end_time}}</p> 
        {{/if}}
    </div>
    <div local-class="btn">
        {{#if data.state}}
            <p {{action "lookOver" data.id data.course.id}}>继续</p>
        {{else}}
            <p {{action "continue" data.id data.course.id}}>查看</p> 
        {{/if}}
    </div>
</div>