{{outlet}}
<div class="next-step">
    {{#bs-button class="btn-next"}}
        导出
    {{/bs-button}}
    {{#bs-button class="btn-next"}}
        保存退出
    {{/bs-button}}
</div>
<div  local-class="area-sales">
    <p>地区季度销售结果</p>
    {{log model}}
	{{d3-histogram-area-sales data=model.quarterD3BarData}}
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		<table class="table table-striped" local-class="table-sales">
			<thead>
				<tr>
					<td> </td>
					<td>份额</td>
					<td>销售额</td>
				</tr>
			</thead>
			<tbody>
                {{#each model.quarterTableData as |item|}}
                    <tr>
                        <td>{{item.name}}</td>
                        <td>{{item.share}}%</td>
                        <td>{{item.sales}}</td>
                    </tr>
                {{/each}}
			</tbody>
		</table>
	</div>
</div>
{{d3-line-multi-legend chooseData=model.areaD3LineShareData title="地区产品份额变化" class="multiline-area-prod-share"}}
{{d3-line-multi-legend chooseData=model.areaD3LineRegionData title="各区域份额结果" class="rea-share"}}
