{{!-- {{outlet}} --}}
{{#unless history}}
    <div class="next-step">
        {{#bs-button class="btn-next" local-class="output"}}
            {{t "apm.newProject.upshot.output"}}
        {{/bs-button}}
        {{#bs-button class="btn-next" onClick=(action "saveUpshot")}}
            {{t "apm.newProject.upshot.saveExit"}}
        {{/bs-button}}
    </div>
{{/unless}}

<div  local-class="area-sales">
    <p>{{t "apm.newProject.upshot.areaSales"}}</p>
	{{d3-histogram-area-sales data=model.quarterD3BarData}}
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
		<table class="table table-striped" local-class="table-sales">
			<thead>
				<tr>
					<td> </td>
					<td>{{t "apm.newProject.upshot.share"}}</td>
					<td>{{t "apm.newProject.upshot.sales"}}</td>
				</tr>
			</thead>
			<tbody>
                {{#each model.quarterTableData as |item|}}
                    <tr>
                        <td>{{item.name}}</td>
                        <td>{{item.share}}%</td>
                        <td>{{number-format item.sales}}</td>
                    </tr>
                {{/each}}
			</tbody>
		</table>
	</div>
</div>
{{d3-line-multi-legend chooseData=model.areaD3LineShareData title=(t "apm.newProject.upshot.areaShareChange") class="multiline-area-prod-share"}}
{{d3-line-multi-legend chooseData=model.areaD3LineRegionData title=(t "apm.newProject.upshot.areaShareResult") class="rea-share"}}
{{!-- {{d3-stacked-bar }} --}}
{{hint-modal hint=hint confirm=(action 'confirmSaveUpshot')}}
