{{#unless data}}
	{{svg-loading }}
{{else}}
	<div local-class="fork-area">
		<button type="button" class="close" local-class="turn" {{action "close"}}>
			<span local-class="clos" aria-hidden="true">&times;</span>
		</button>
	</div>
	<div local-class="con">
		<div class="container">
			<div local-class="product-list">
				{{#each data.medicines as |medicine|}}
					{{product-card data=medicine}}
				{{/each}}
			</div>
			{{d3-line-multi-legend chooseData=data.lineData title=(t "apm.component.productInfoCard.title") class="multiline-prods-share"}}
		</div>
	</div>
{{/unless}}