<div class="container" local-class="section-a">
	<div local-class="content">
		<div local-class="top">
			<div local-class="head">
				<p local-class="title">{{data.areaInfo.title}}</p>
				<img src="" alt="">
			</div>
			<div local-class="intro">
				<p>{{data.areaInfo.des}}</p>
			</div>
		</div>
		<div local-class="bottom">
			{{#each data.areaInfo.cards as |card|}}
				<div local-class="card">
					<p local-class="headline">{{card.headline}}</p>
					<p local-class="num">{{card.num}}</p>
				</div>
			{{/each}}
		</div>
	</div>
	<div local-class="sub-tab">
		{{#bs-tab as |tab|}}
			{{#tab.pane title="代表与执行" }}
			
				{{radar-section-effectiveness radarSectionData=radarData totalArea=totalArea changeArea=(action 'changeArea')}}

				<div local-class="represent">
					{{charge-represent data=data.represent}}
				</div>
				<div local-class="action">
					<p local-class="title-action">行动KPI</p>
					<div class="table-responsive" local-class="table-action">
						<table class="table table-striped" local-class="table-sales">
							<thead>
								<tr>
									<td> 年/月</td>
									<td>17/07</td>
									<td>17/08</td>
									<td>17/09</td>
									<td>17/10</td>
									<td>17/11</td>
									<td>17/12</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>目标医生拜访频率</td>
									<td>26.33%</td>
									<td>60</td>
									<td>60</td>
									<td>60</td>
									<td>60</td>
									<td>6</td>
								</tr>
								<tr>
									<td>实地工作天数</td>
									<td>26</td>
									<td>60</td>
									<td>60</td>
									<td>60</td>
									<td>60</td>
									<td>6</td>
								</tr>
								<tr>
									<td>拜访次数</td>
									<td>26.33%</td>
									<td>60</td>
									<td>60</td>
									<td>60</td>
									<td>60</td>
									<td>6</td>
								</tr>
							</tbody>
						</table>
					</div>

				</div>
				<div local-class="report">
					{{represent-report data=data.report}}
				</div>
			{{/tab.pane}}
			{{#tab.pane title="區域销售情況" }}
				<div local-class="analyze">
					{{d3-bar-line chartId="area-sales-chart" laterThreeChangeBg=false}}

					<div local-class="table-content">
						<p>公司产品历史销售数据</p>
						<table class="table table-striped" local-class="table-sales">
							<thead>
								<tr>
									<td> </td>
									<td>17/01</td>
									<td>17/02</td>
									<td>17/03</td>
									<td>17/04</td>
									<td>17/05</td>
									<td>17/06</td>
									<td>17/07</td>
									<td>17/08</td>
									<td>17/09</td>
									<td>17/10</td>
									<td>17/11</td>
									<td>17/12</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>销售额(K)</td>
									<td>26</td>
									<td>60</td>
									<td>60</td>
									<td>60</td>
									<td>60</td>
									<td>6</td>
									<td>26</td>
									<td>60</td>
									<td>60</td>
									<td>60</td>
									<td>60</td>
									<td>6</td>
								</tr>
								<tr>
									<td>份额(%)</td>
									<td>26</td>
									<td>60</td>
									<td>60</td>
									<td>60</td>
									<td>60</td>
									<td>6</td>
									<td>26</td>
									<td>60</td>
									<td>60</td>
									<td>60</td>
									<td>60</td>
									<td>6</td>
								</tr>
							</tbody>
						</table>
					</div>

				</div>
			{{/tab.pane}}
		{{/bs-tab}}
	</div>
</div>

{{yield}}
