<div local-class="section-a">
	<div local-class="content">
		<div local-class="top">
			<div local-class="head">
				<p local-class="title">{{data.name}}</p>
				<img src= {{data.image}} alt="">
			</div>
			<div local-class="intro">
				<p>{{data.describe}}</p>
			</div>
		</div>
		<div local-class="bottom" class="row">
			{{!-- {{#each regionCards as |card|}}
				{{#if (eq data.id card.region_id)}} --}}
					<div local-class="card" class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<div local-class="card-inside-content">
							<p local-class="headline">{{t "apm.component.regionalIntro.marketPotentialYear"}}($)</p>
							<p local-class="num">{{number-format singleRegionData.card.sales.allyearpotential}}</p>
						</div>

					</div>
					<div local-class="card" class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<div local-class="card-inside-content">

							<p local-class="headline">{{t "apm.component.regionalIntro.lmSales"}}($)</p>
							<p local-class="num">{{number-format singleRegionData.card.sales.sales}}</p>
						</div>
					</div>
					<div local-class="card" class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<div local-class="card-inside-content">

							<p local-class="headline">{{t "apm.component.regionalIntro.lmReachRate"}}(%)</p>
							<p local-class="num">{{number-percent singleRegionData.card.sales.achieve_rate}}</p>
						</div>
					</div>
				{{!-- {{/if}}
			{{/each}} --}}
		</div>
	</div>

	<div local-class="sub-tab">
		{{#bs-tab as |tab|}}
			{{#tab.pane title=(t "apm.component.regionalIntro.representationExec")}}
				{{!-- {{#each radarData as |item|}}
					{{#if (eq item.region_id data.id)}}
						{{radar-section-effectiveness gradient=(concat 'glowarea' data.id) radarSectionData=item.data}}
					{{/if}}
				{{/each}} --}}
				{{radar-section-effectiveness gradient=(concat 'glowarea' data.id) radarSectionData=singleRegionData.radarData}}
					<div local-class="represent">

						{{!-- {{#each represents as |item|}}
						{{#if (eq item.region_id data.id)}}
							{{#each item.data as |represent|}}
								{{charge-represent data=represent}}
							{{/each}}
						{{/if}}
					{{/each}} --}}
						{{charge-represent data=singleRegionData.represent}}

					</div>
					<div local-class="action">
						<p local-class="title-action">{{t "apm.component.regionalIntro.kpi"}}</p>
						<div class="table-responsive" local-class="table-action">
							<table class="table table-striped" local-class="table-sales">
								<thead>
									<tr>
										<td>{{t "apm.component.regionalIntro.yearMonth"}}</td>
										{{!-- {{#each kpi as |item|}}
										{{#if (eq item.region_id data.id)}}
											{{#each item.yms as |ym|}}
												<td>{{ym}}</td>
											{{/each}}
										{{/if}}
									{{/each}} --}}
										{{#each singleRegionData.kpiData.yms as |ym|}}
											<td>{{ym}}</td>
										{{/each}}
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>{{t "apm.component.regionalIntro.targetVisitTime"}}</td>
										{{!-- {{#each kpi as |item|}}
										{{#if (eq item.region_id data.id)}}
											{{#each item.target_call_freq_vals as |target_call_freq_val|}}
												<td>{{target_call_freq_val}}</td>
											{{/each}}
										{{/if}}
									{{/each}} --}}
										{{#each singleRegionData.kpiData.target_call_freq_vals as |target_call_freq_val|}}
											<td>{{target_call_freq_val}}</td>
										{{/each}}
									</tr>
									<tr>
										<td>{{t "apm.component.regionalIntro.localWorkDay"}}</td>
										{{!-- {{#each kpi as |item|}}
										{{#if (eq item.region_id data.id)}}
											{{#each item.in_field_days_vals as |in_field_days_val|}}
												<td>{{in_field_days_val}}</td>
											{{/each}}
										{{/if}}
									{{/each}} --}}
										{{#each singleRegionData.kpiData.in_field_days_vals as |in_field_days_val|}}
											<td>{{in_field_days_val}}</td>
										{{/each}}
									</tr>
									<tr>
										<td>{{t "apm.component.regionalIntro.visitTime"}}</td>
										{{!-- {{#each kpi as |item|}}
										{{#if (eq item.region_id data.id)}}
											{{#each item.call_times_vals as |call_times_val|}}
												<td>{{call_times_val}}</td>
											{{/each}}
										{{/if}}
									{{/each}} --}}
										{{#each singleRegionData.kpiData.call_times_vals as |call_times_val|}}
											<td>{{call_times_val}}</td>
										{{/each}}
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div local-class="report">
						{{!-- {{#each reports as |item|}}
						{{#if (eq item.region_id data.id)}}
							{{represent-report data=item.data}}
						{{/if}}
					{{/each}} --}}
						{{represent-report data=singleRegionData.report}}
					</div>
			{{/tab.pane}}
			{{#tab.pane title=(t "apm.component.regionalIntro.areaSalesInfo")}}
				<div local-class="analyze">
					{{!-- {{#each salesBar as |item|}}
						{{#if (eq item.region_id data.id)}}
							{{d3-bar-line chartId=(concat "area-sales-chart" data.id) laterThreeChangeBg=false dataset=item.data}}
						{{/if}}
					{{/each}} --}}
					{{d3-bar-line chartId=(concat "area-sales-chart" salesBar.id) laterThreeChangeBg=false noLine=true  dataset=singleRegionData.salesBar.data}}

					<div local-class="table-content">
						<p local-class="title">{{t "apm.component.regionalIntro.hisSalesData"}}</p>
						{{!-- <div class="table-responsive"> --}}
						<table class="table table-striped" local-class="table-sales">
							<thead>
								<tr>
									<td> </td>
									{{!-- {{#each salesBar as |item|}}
										{{#if (eq item.region_id data.id)}}
											{{#each item.data as |item|}}
												<td>{{item.key}}</td>
											{{/each}}
										{{/if}}
									{{/each}} --}}
									{{#each singleRegionData.salesBar.data as |item|}}
										<td>{{item.key}}</td>
									{{/each}}
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>{{t "apm.component.regionalIntro.sales"}}($)</td>
									{{!-- {{#each salesBar as |item|}}
										{{#if (eq item.region_id data.id)}}
											{{#each item.data as |item|}}
												<td>{{number-format item.value}}</td>
											{{/each}}
										{{/if}}
									{{/each}} --}}
									{{#each singleRegionData.salesBar.data as |item|}}
										<td>{{number-format item.value}}</td>
									{{/each}}
								</tr>
								<tr>
									<td>{{t "apm.component.regionalIntro.share"}}(%)</td>
									{{!-- {{#each salesBar as |item|}}
										{{#if (eq item.region_id data.id)}}
											{{#each item.data as |item|}}
												<td>{{item.value2}}%</td>
											{{/each}}
										{{/if}}
									{{/each}} --}}
									{{#each singleRegionData.salesBar.data as |item|}}
										<td>{{item.value2}}%</td>
									{{/each}}
								</tr>
							</tbody>
						</table>
						{{!-- </div> --}}
					</div>
				</div>
			{{/tab.pane}}
		{{/bs-tab}}
	</div>
</div>
