<div local-class="analyze-container">
	<div class="next-step">
		{{#bs-button class="btn-next" onClick=(action "nextStep")}}
			下一步
		{{/bs-button}}
	</div>
	<div local-class="analyze-section">
		{{area-base-info-table data=model.tableData}}
	</div>
	{{#each model.regionList as |region|}}
		{{area-analyze-input data=region keyUp=(action 'saveToLocalStorage')}}
	{{/each}}
	{{!-- {{area-analyze-input }} --}}
</div>
{{#bs-modal open=notesEmpty onSubmit=(action 'toSort') onHidden=(action (mut notesEmpty) false) as |modal|}}
  {{#modal.header}}
    <h4 class="modal-title">
      <span></span>提示
      {{!-- <div class="badge">2</div> --}}
    </h4>
  {{/modal.header}}
  {{#modal.body}}
	{{!-- <p>请填写完成 {{emptyNotesRegion}} 的内容！</p> --}}
	<p>{{tipsContent}}</p>

  {{/modal.body}}
  {{#modal.footer}}
	  {{#if isNoteEmpty}}
		  {{#bs-button onClick=(action modal.close)}}取消{{/bs-button}}
		  {{#bs-button type="success" onClick=(action modal.submit)}}下一步{{/bs-button}}
	  {{else}}
		  {{#bs-button onClick=(action modal.close)}}继续填写{{/bs-button}}
	  {{/if}}
  {{/modal.footer}}
{{/bs-modal}}
