<div local-class="content-page">
    <div local-class="content">
        <div local-class="left">
            <img src="" alt="">
        </div>
        <div local-class="right">
            <div local-class="margin">
                <div local-class="head">
                    <p>ＳＹＳ ＮＡＭＥ</p>
                </div>
                <div local-class="con">
                    <div local-class="title">
                        <p>slogan</p>
                    </div>
                    <div local-class="input-area">
                        {{#bs-form model=login onSubmit=(action "submit") novalidate=false as |form|}}
                            {{form.element controlType="email" label="帐号" placeholder="帐号" property="email"}}
                            <p local-class="password" {{action 'links' transition}}>忘记密码?</p>
                            {{form.element controlType="password" label="密码" placeholder="密码" property="password"}}
                            <div local-class="signin">
                                <p>
                                    还没有帐号?
                                    {{#link-to 'sign_up'}}点击注册{{/link-to}}
                                </p>
                            </div>
                            <div class="text-center">
                                 {{bs-button defaultText="登入" local-class="btn" buttonType="submit"}}
                            </div>
                        {{/bs-form}}
                    </div>
                    {{!-- {{#link-to 'project-sort'}}{{/link-to}} --}}
                </div>
            </div>
        </div>
    </div>
</div>
{{outlet}} 