<table local-class="table-container" class="table">
    <thead>
        <tr>
            <td>{{t "apm.newProject.resource.corporateIndicators"}}($)</td>
            <td>{{t "apm.newProject.resource.forecastIndex"}}($)</td>
            <td>{{t "apm.newProject.resource.coVisitDays"}}(%)</td>
            <td>{{t "apm.newProject.resource.country"}}(%)</td>
            <td>{{t "apm.newProject.resource.city"}}(%)</td>
            <td>{{t "apm.newProject.resource.department"}}(%)</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{number-format areaComponyTarget}} </td>
            <td>{{number-format data.forecast}}</td>
            <td>{{data.covisit}}</td>
            <td>{{data.nationMeeting}}</td>
            <td>{{data.cityMeeting}}</td>
            <td>{{data.departmentMeeting}}</td>
        </tr>
    </tbody>
</table>
