{{!-- {{yield}} --}}
<div class="table-responsive">
    <table local-class="table-container" class="table">
        <thead>
            <tr>
                <td></td>
                <td>市场规模</td>
                <td>潜力贡献度</td>
                <td>上次销售额</td>
                <td>销售贡献度</td>
                <td>贡献度系数</td>
                <td>上期销售增长率</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>区域A</td>
                <td>{{input type="text" dir="rtl" disabled=true}}</td>
                <td>{{input type="text" dir="rtl" disabled=true}}</td>
                <td>{{input type="text" dir="rtl" disabled=true}}</td>
                <td>{{input type="text" dir="rtl" disabled=true}}</td>
                <td>{{input type="text" dir="rtl" disabled=true}}</td>
                <td>{{input type="text" dir="rtl" disabled=true}}</td>
            </tr>
            <tr>
                <td>区域B</td>
                <td>{{input type="text" dir="rtl" disabled=true}}</td>
                <td>{{input type="text" dir="rtl" disabled=true}}</td>
                <td>{{input type="text" dir="rtl" disabled=true}}</td>
                <td>{{input type="text" dir="rtl" disabled=true}}</td>
                <td>{{input type="text" dir="rtl" disabled=true}}</td>
                <td>{{input type="text" dir="rtl" disabled=true}}</td>
            </tr>
            <tr>
                <td>区域C</td>
                <td>{{input type="text" dir="rtl" disabled=true}}</td>
                <td>{{input type="text" dir="rtl" disabled=true}}</td>
                <td>{{input type="text" dir="rtl" disabled=true}}</td>
                <td>{{input type="text" dir="rtl" disabled=true}}</td>
                <td>{{input type="text" dir="rtl" disabled=true}}</td>
                <td>{{input type="text" dir="rtl" disabled=true}}</td>
            </tr>
            <tr>
                <td>区域D</td>
                <td>{{input type="text" dir="rtl" disabled=true}}</td>
                <td>{{input type="text" dir="rtl" disabled=true}}</td>
                <td>{{input type="text" dir="rtl" disabled=true}}</td>
                <td>{{input type="text" dir="rtl" disabled=true}}</td>
                <td>{{input type="text" dir="rtl" disabled=true}}</td>
                <td>{{input type="text" dir="rtl" disabled=true}}</td>
            </tr>
            <tr>
                <td>区域E</td>
                <td>{{input type="text" dir="rtl" disabled=true}}</td>
                <td>{{input type="text" dir="rtl" disabled=true}}</td>
                <td>{{input type="text" dir="rtl" disabled=true}}</td>
                <td>{{input type="text" dir="rtl" disabled=true}}</td>
                <td>{{input type="text" dir="rtl" disabled=true}}</td>
                <td>{{input type="text" dir="rtl" disabled=true}}</td>
            </tr>
        </tbody>
    </table>
</div>