<div class="table-responsive" local-class="table-no-border">
    <p local-class="title">{{t "apm.component.areaBaseInfoTable.monthData"}}<span></span></p>
    <table local-class="table-container" class="table">
        <thead>
            <tr>
                <td>{{t "apm.component.areaBaseInfoTable.area"}}</td>
                <td>{{t "apm.component.areaBaseInfoTable.marketPotential"}}</td>
                <td>{{t "apm.component.areaBaseInfoTable.potentialContribution"}}</td>
                <td>{{t "apm.component.areaBaseInfoTable.lmSale"}}</td>
                <td>{{t "apm.component.areaBaseInfoTable.lmSaleContribution"}}</td>
                <td>{{t "apm.component.areaBaseInfoTable.contributionCoefficient"}}</td>
                <td>{{t "apm.component.areaBaseInfoTable.growthRate"}}</td>
            </tr>
        </thead>
        <tbody>
            {{#each data as |item|}}
                <tr>
                    <td>{{item.name}}</td>
                    <td>{{number-format item.potential}}</td>
                    <td>{{number-tofixed2 item.potential_contri}}</td>
                    <td>{{number-format item.unit}}</td>
                    <td>{{number-tofixed2 item.contri}}</td>
                    <td>{{number-tofixed2 item.contri_index}}</td>
                    <td>{{number-percent item.growth}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>
