<div local-class="content-page">
    {{head-account}}
    <div local-class="content">
        <div local-class="title">
            <p><span class="glyphicon glyphicon-triangle-left"></span>New project</p>
        </div>
        {{class-card class="col-md-4"}}
        {{class-card class="col-md-4"}}
        {{class-card class="col-md-4"}}            
    </div>
</div>
{{outlet}}
